APP_HOST=localhost
APP_PORT=8080

# DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=
DB_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable

# REDIS
RDB_HOST=localhost
RDB_PORT=6379
RDB_USER=
RDB_PASS=
RDB_PREFIX=
RDB_ADDR=${RDB_HOST}:${RDB_PORT}

JWT_ISSUER=
JWT_SECRET=